[Unit]
Description= Taster Daemon for Klingel
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/hausautomatisierung/klingel/tasterd
ExecStart=/home/pi/hausautomatisierung/klingel/tasterd/taster.py
SyslogIdentifier=tasterd
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3
Environment="PYTHONUNBUFFERED=1"
Environment="KLINGEL_SETTING_FILE=/home/pi/hausautomatisierung/klingel/config.json"


[Install]
WantedBy=multi-user.target

