[Unit]
Description= Taster Daemon for Klingel
After=syslog.target

[Service]
Type=simple
User=<USER>
Group=<GROUP>
WorkingDirectory=<WORKING_DIRECTORY>
ExecStart=<EXEC_START>
SyslogIdentifier=tasterd
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3
Environment="PYTHONUNBUFFERED=1"
Environment="KLINGEL_SETTING_FILE=<KLINGEL_SETTING_FILE>"


[Install]
WantedBy=multi-user.target

