<!doctype html>
<title>Klingel</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" media="all and (max-device-width: 480px)"  href="{{ url_for('static', filename='smartphones.css') }}">
</head>


<nav>
  <h1>Klingel</h1>
    <a href="/todaylist">Heute</a> |
    <a href="/list">Liste</a> |
    <a href="/piclist">Bilderliste</a> |
    <a href="/live">Live</a> |
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>