{% extends 'base.html' %}

{% block header %}
  <h1>Liste aller Klingelevents</h1>
  <br>
{% endblock %}

{% block content %}
 
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Jahr</th>
            <th>Monat</th>
            <th>Tag</th>
            <th>Stunde</th>
            <th>Minute</th>
            <th>Sekunde</th>
            <th>Link</th>
        </tr>
    </thead>

    <tbody>
    {% for e in events %}
    <tr>
        <td>{{ e["year"]}}</td>
        <td>{{ e["month"]}}</td>
        <td>{{ e["day"]}}</td>
        <td>{{ e["hour"]}}</td>
        <td>{{ e["min"]}}</td>
        <td>{{ e["sec"]}}</td>
        <td><a href={{ e["filename"]}}> link</a></td>
    </tr>
    {% endfor %}
    </tbody>


</table>
{% endblock %}








