{% extends 'base.html' %}

{% block header %}
  <h1>Settings</h1>
  <br>
{% endblock %}

{% block content %}
 
    <br><br>
    <h2>General settings: </h2>
    <table>
        <thead>
                <tr>
                <th>Setting</th>
                <th>Value</th>
                <tr>
        </thead>
        
        <tbody>
            <tr>
                <td>Python Version</td>
                <td>{{ver}}</td>
            </tr>
            <tr>
                <td>PIC_PATH</td>
                <td>{{config['PIC_PATH']}}</td>
            </tr>
        </tbody>
    </table>

    <br><br>
    <h2>Flask settings: </h2>
    <table>
        {% for c in config %}
        <tr>
            <td>config</td>
            <td>{{ c}}</td>
            <td>{{config[c]}}</td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}








