{% extends 'base.html' %}

{% block header %}
  <h1>Settings</h1>
  <br>
{% endblock %}

{% block content %}
 
<br>
<br>
<table>
    <thead>
            <tr>
            <th>Setting</th>
            <th>Value</th>
            <tr>
     </thead>
    
    <tbody>
        <tr>
            <td>Python Version</td>
            <td>{{ver}}</td>
        </tr>
        <tr>
            <td>PIC_PATH</td>
            <td>{{config['PIC_PATH']}}</td>
        </tr>
    </tbody>
</table>


{% endblock %}








